.header-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 4rem;
  right: 0;
  left: 0;
  padding: 2rem 11%;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 500;
}

.menus-container {
  display: flex;
  list-style: none;
}

.menus-container li {
  margin: 0 1.2rem;
  color: #fff;
}

@media only screen and (max-width: 991px) {
  .menus-container {
    display: none;
  }

  .header-container {
    justify-content: center;
    align-items: center;
  }
}
